.main-container{
    min-height: 554px;
    padding: calc(10% + 40px);
}

.main-text-block{
    text-align: center;
}

.main-btn{
    background-color: var(--blue);
    color: #fff;
}

.main-img-block{
    display: block;
    background-image: url(./img/image.png);
    background-position: center;
    background-size: cover;
    width: 100%;
    aspect-ratio: 4 /3;
}

@media (min-width: 768px) {
    .main-text-block{
        text-align: start;
    }
}