.main-container{
    height: 554px;
}

.main-btn{
    background-color: var(--blay);
    color: #fff;
}

.main-text-block{
    padding-right: 30px;
}

.main-img-block{
    display: block;
    background-image: url(D:\mai2026\Hillel_React_2026\convertor_26\src\Main-container\img\image.png);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 314px;
}