.header-container{
  background-image: url(./img/background.png);
  background-position: center;
  background-size: cover;
  height: 400px;
}

.header-block{
    color: #fff;
}

.header-img{
    max-width: 341px;;
}

.header-btn {
    color: var(--gray);
}
