footer {
    display: flex;
    gap: 20px;

    padding: 25px 35px;
    background-color: var(--light-gray);
    color: var(--gray) ;
}

.footer-column{
    display: flex;
    flex-direction: column;
    flex: 1 1 20%;
}

.footer-column--title{
    display: flex;
    align-items: center;
    color: black;
    padding-bottom: 10px;
}

.footer-column--title > p{
    margin-left: 5px;
}

.footer-column--info{
    font-size: 13px;
}

.footer-link{
    font-size: 16px;
    padding-bottom: 10px;
    color: var(--gray) ;
}

.icon{
    display: block;
    height: 16px;
    margin-right: 15px;
}

.phone-icon{
    width: 10px;
    background-image: url(./img/phone-icon.svg);
}

.landline-phone-icon{
    width: 16px;
    background-image: url(./img/landline-phone-icon.svg);
}

.footer-column--contacts{
    flex-direction: row;
}

.icon-contacts{
    width: 16px;
    background-image: url(./img/footer-contacts-icon.svg);
    background-position-y: 16px;
}

.icon-facebook {
    width: 9px;
}