.navi-wrap{
    padding: 25px 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #fff;
}

.navi-container{
    display: flex;
    align-items: center;
    
    font-size: 16px;
}

.logo-wrap{
    width: 25%;
}

.navi-btn{
    width: 25%;
}

.navigation {
    justify-content: end;
    width: 70%;
}

.navigation li{
    list-style: none;
    padding: 0 20px;
}

.navi-btn{
    display: none;
    justify-content: end;
}

.navi-btn--icon{
    background-image: url(./img/Vector.svg);
    background-position: cover;
    width: 20px;
    height: 22px;
    margin-right: 10px;
}

@media (min-width: 768px) {
    .navigation{
        justify-content: start;
        width: 50%;
    }
    
    .navi-btn{
        display: flex;
    }
}