main{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.main-block{
    flex: 1 1 50%;
    padding: 10%;
}

.main-block--converter{
    background-color: var(--light-gray);
}

.main-block--wrap{
    display: flex;
    flex-direction: column;

    width: 100%;
    max-width: 962px;
    padding: 40px;
}

.converter-wrap{
    position: relative;
    
    background-color: #fff;
}

.convertor-title{
    font-size: 40px;
}

.columns-wrap{
    display: flex;
    justify-content: space-between;
} 

.converter-block{
    gap: 80px;

    padding: 20px 0;
}

.main-column{
    flex: 1 1 calc(50% - 20px);
}

.converter-column *{
    font-size: 20px;
    color: var(--gray)
}

.column-part{
    margin-top: 15px;
}

.feild{
    height: 60px;
    padding: 0 10px;
    
    border: var(--gray) 1px solid;
    border-radius: 4px;
    cursor: pointer;
}

.feild--input{
    text-align: center;
    margin-right: 10px;
    min-width: 60%;
    max-width: 220px;
}

.feild--select{
    width: calc(40% - 10px);
    min-width: 0;
    background: url(./img/selext-vector.svg) no-repeat right 15px center;
}

.feild--vector{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    padding: 10px 40px 10px 15px;
    background-size: 16px;
}

.date-wrap{
    width: 100%;

    position: relative;
    display: inline-block;
}

.feild--data{
    padding-right: 40px;
}

.feild--data::-webkit-calendar-picker-indicator{
    opacity: 0;
    position: absolute;
    right: calc(40% );
    top: 10px;
    width: 40px;
    height: 100%;
    cursor: pointer;
    z-index: 2;
}

.calendar-icon{
    position: absolute;
    right: calc(40% + 15px);
    top: 50% ;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    pointer-events: none;
}

.button-wrap{
    display: flex;
    justify-content: end;
}

.converter--button{
    width: 220px;
    background-color: var(--blue);
    color: #fff;
}

.revers--icon{
    position: absolute;
    width: 22px;
    height: 22px;
    border: none;
    background-color: #fff;
    left: calc(50% - 11px);
    top: calc(50% - 11px);
}

.history--wrap{
    background-color: var(--light-gray);
}

.history--header{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-bottom: 20px;
}

.history--header > h3{
    font-size: 28px;
}

.history--btn{
    width: 187px;
    height: 51px;
    font-size: 16px;
}

.histori-main-block{
    flex-wrap: wrap;
    gap: 24px;
    width: 100%;
}

.history-data-wrap{
    max-width: calc(50% - 12px);
    flex: 1 1 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    
    font-size: 18px;
    background-color: #fff;
}

.history-data--date{
    color: #C1C2CA;
}

.history-data--vector{
    display: block;
    width: 16px;
    height: 12px;
    background: url(./img/arrow.svg)  no-repeat center;
}

.history-data--count{
    font-weight: 600;
    color: var(--gray);
}