body{
  font-family: "Roboto", sans-serif;
  max-width: 1200px;
  margin: 0 auto;
  border: 1px solid var(--blue);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --gray: #707C87;
  --blue: #2C36F2;
  --light-gray: #F6F7FF;
}

a{
  text-decoration: none;
  color: black;
}

a:hover{
  color: #2C36F2;
}

h1{
  font-size: 52px;
  text-align: center;
}

button{
  cursor: pointer;
}

button:hover{
  cursor: pointer;
}

.blocks-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  margin: 0 auto;
  padding: 20px 20vh;
}

.block-wrap{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex: 1;
}

.block-wrap *{
  padding-bottom: 20px;
}

.block-btn{
  width: 234px;
  height: 53px;
  padding-bottom: 0;
  border: none;
  border-radius: 5px;
}

.logo-wrap{
  display: flex;
  align-items: center;
}

.logo-wrap > p{
    font-weight: bold;
}

.logo-wrap > img{
    margin-right: 10px;
}

@media (min-width: 768px) {
  h1{
    font-size: 52px;
    text-align: start;
  }
  .blocks-container {
      flex-direction: row;
  }
  .block-wrap{
      align-items: start;
      max-height: none;
      max-width: 50%;
  }
  
}